* {
	margin: 0;
	padding: 0;
}

.banner {
    height: 550px;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 20%;
    min-width: 30%;
    background-image: linear-gradient(rgba(51,51,51, 0.4), rgba(255,255,255, 0.4)), url("images/photo-1531218150217-54595bc2b934\ copy\ 2\(2\).jpeg");
    background-size: cover;
    display: flex;
    background-position-y: 60%;
    flex-direction: column;
  }

  .heading {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 500%;
    top: 50%;
    margin: auto;
    font-style: bold;
    text-shadow: 2px 2px 10px black;
}

.jumbotron {
    border-radius: 0%;
}

.marketing-banner {
    width: 80%;
    background-image: linear-gradient(#F6C302 15%, #E87C24);
    margin: 0 auto;
    color: white;
    text-align: center;
    height: 50px;
    display: flex;
    margin-bottom: 20px;
}

.marketing-banner h2 {
    margin: auto;
}

.supplier-rectangle {
    height: 200px;
    width: 100%;
    margin-top: -150px;
}

.supplier-card-one {
    height: 200px;
    width: 700px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px #888888;
    margin-bottom: 25px;
}

.textstuff {
	margin: auto 0;
}

.supplier-card-one h3 {
	padding: 30px 30px 10px 30px;
	margin: auto;
}

.supplier-card-one p {
	padding: 10px 30px 10px 30px;
}

.orginc {
	color: #E87C24;
}

.supplier-image-one {
    background-size: 100%;
    background-position-y: 30%;
    background-image: url(images/Bullock\ 1.jpg);
    height: 200px;
    width: 400px;
}

.suppers {
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content: space-between;
}

.supleft {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
}

.supleft p {
	font-size: 24px;
}

.supright {
	display: flex;
}

.tickets {
    background-color: #4A90E2;
   height: 500px;
   width: 400px;
   position: sticky;
   top: 0px;
   box-shadow: 0px 0px 10px #888888;
   background: #4A90E2;
    display: flex;
    flex-direction: column;
}

.ticktitle {
	background-color: #0E396B;
	flex: 1;
	color: #fff;
	display: flex;
	padding-bottom: 15px;
	padding-top: 15px;
}

.ticktitle h3 {
	margin: auto;
}

.tickcal {
	background-color: #4A90E2;
	flex: 7;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #fff;
}

.ticktotal {
	background-color: #0E396B;
	flex: 1;
	display: flex;
	justify-content: space-between;
	color: #fff;
	padding-bottom: 15px;
	padding-top: 15px;
}

.ticktotal p {
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.date-btn {
	border: 3px solid #FF6D19;
	border-radius: 6px;
	width: 90%;
	height: 70px;
	color: #000;
	background-color: #fff;
	display: flex;
	margin: auto;
}

select {
	border: none;
	background-color: #4A90E2;
	color: white;
}

.date-btn h3 {
	margin: auto;
}

.pass-total {
	display: inline-block;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	padding: 25px;
	margin: auto;
}

.pass-upper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #fff;
	padding-top: 5px;
}

.pass-lower {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #fff;
	padding-top: 5px;
	margin-bottom: 10px;
}

.add-cart {
	display: flex;
	width: 100%;
	margin: auto;
	margin-bottom: 15px;
}

button a {
    text-decoration:none;
    font-family:Arial;
    display: block;
}

.btn {
    color: #fff;
    background: #FF6D19;
    margin: auto;

    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .35);
    
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.btn:hover {
    color: #fff;
    border: 4px solid #fff;
}

.btn:active {
    color: #fff;
    border: 4px solid #fff;
    opacity: 0.6;
}

.btn-submit4 {
    color: #fff;
    width: 90%;
    height: 54px;
    font: 20px "Roboto", Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    display: flex;
}

.btn-submit45 {
    background-color: white;
    width: 90%;
    height: 74px;
    font: 20px "Roboto", Arial, sans-serif;
    text-decoration: none;
    text-align: center;
    display: flex;
    border: 4px solid #FF6D19;
}

.btn-submit45 a {
	margin: auto;
    color: #000;
    text-decoration: none;
}

.btn-submit45:hover {
    border: 4px solid #fff;
}

.btn-submit4 a {
    margin: auto;
    color: #fff;
    text-decoration: none;
}

.add-cart h3 {
	margin: auto;
}

.supplier-card-two {
    height: 200px;
    width: 700px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px #888888;
    margin-bottom: 25px;
}

.supplier-card-two h3 {
	padding: 30px 30px 10px 30px;
	margin: auto;
}

.supplier-card-two p {
	padding: 10px 30px 10px 30px;
}

.supplier-image-two {
    background-size: 100%;
    background-position-y: 60%;
    background-image: url(images/DoubleDecker\ copy.jpg);
    height: 200px;
    width: 400px;
}

.supplier-card-three {
    height: 200px;
    width: 700px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px #888888;
    margin-bottom: 25px;
}

.supplier-card-three h3 {
	padding: 30px 30px 10px 30px;
	margin: auto;
}

.supplier-card-three p {
	padding: 10px 30px 10px 30px;
}

.supplier-image-three {
    background-size: 100%;
    background-position-y: 60%;
    background-image: url(images/acvb2.jpg);
    height: 200px;
    width: 400px;
}

.cover-container {
    height: 220px;
    width: 700px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 25px;
}
.cover-item {
    position: relative;
    display: inline-block;
    margin: 5px 5px;
    box-shadow: 0px 0px 10px #888888;
    border-top-right-radius: 4px;
    width: 200px;
    height: 200px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.pass-info {
    height: 1050px;
    width: 700px;
    background-color: #F3F3F3;
    box-shadow: 0px 0px 10px #888888;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.text-box {
    width: 670px;
    margin-left: 10px;
    margin-right: 10px;
}

.tabs {
	display: flex;
	justify-content: space-between;
}

.halfer {
	flex: 1;
	text-align: center;
}

.tabbed-content li{
	list-style: none;
    padding: 10px 14px;
    border-bottom: 2px solid black;
    cursor: pointer;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.tabbed-content li:hover {
	color: #E87C24;
}

.tabbed-content li.active{
   border-bottom: 5px solid black;
   font-weight: 800;
}

.tabbed-content .panel{
    display: none;
}
.tabbed-content .panel.active{
    display: block;
}